/* #209CEE Favicon Color */
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #23252C;
  ;
}

body {
  margin-top: 25px;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.App {
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  max-width: 450px;
  background-color: #1A1B21;
  margin-bottom: 15px;
}

.Header-image {
  display: flex;
  justify-content: center;
}

.Header-headshot {
  border-radius: 20px 20px 0 0;
  width: 450px;
}

.Header-intro > h1 {
  margin: 10px 0 10px 0;
  text-align: center;
  color: white;
}

.Header-intro > h3 {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  color: #F3BF99;
}

.Header-buttons {
  display: flex;
  justify-content: center;
}

.Main {
  display: flex;
  justify-content: left;
  text-align: left;
  max-width: 400px;
  margin: 5px 35px 35px 35px;
  color: white;
  line-height: 25px;
}

.Footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 40px 0 30px 0;
  border-radius: 0 0 20px 20px;
  background-color: #161619;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 80px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .Header-icon {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}